{{>header}}
<h2>Perdeu a senha né primo...</h2>
{{!-- <h4>Clica aqui nesse link para definir outra: <a href="{{token}}">Resetar senha</a></h4> --}}
<h4>Clica aqui nesse link para definir outra: {{token}}</h4>
{{>footer}}